@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.main-header {
  background: #202332;
  border: none;
}

.main-sidebar {
  background: #2a2e3f;
}

.main-sidebar .brand-link {
  border: 0;
  color: #9eacbe;
}

.main-sidebar .brand-link .brand-text {
  font-weight: bold;
  font-size: 1.5rem;
}

.main-sidebar .sidebar *.bx, .main-sidebar .sidebar * p {
  color: #9eacbe;
}

.main-sidebar .sidebar * p {
  font-weight: 600;
}

.main-sidebar .sidebar *.nav-link {
  padding: 0.8rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  margin: 0;
}

.main-sidebar .sidebar *.nav-link .bx {
  font-size: 1.5rem;
}

.main-sidebar .sidebar *.nav-link:hover {
  background: #538aec;
}

.main-sidebar .sidebar *.nav-link:hover .bx, .main-sidebar .sidebar *.nav-link:hover p {
  color: #fef5f2;
}

.main-sidebar .sidebar *.nav-link.active.nav-link {
  background: #538aec;
}

.main-sidebar .sidebar *.nav-link.active.nav-link .bx, .main-sidebar .sidebar *.nav-link.active.nav-link p {
  color: #fef5f2;
}

.main-sidebar .sidebar *.nav-treeview {
  background: #202332;
  border-radius: 0.5rem;
}

.content-wrapper {
  background: #202332;
}

.content-wrapper .content-header .container-fluid .row .col-sm-6 h1 {
  color: #9eacbe;
}

.content-wrapper .content-header .container-fluid .row .card label, .content-wrapper .content-header .container-fluid .row .card .invoice-serial, .content-wrapper .content-header .container-fluid .row .card .total {
  font-weight: bold;
  color: #9eacbe;
}

.content-wrapper .content-header .container-fluid .row .card .total {
  font-size: 3rem;
}

.card {
  background: #2a2e3f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table {
  background: transparent;
}

.table thead td, .table tbody td {
  font-size: 0.9rem;
}

.table thead th, .table thead td, .table tbody th, .table tbody td {
  vertical-align: middle;
  color: #9eacbe;
  text-align: center;
  border: none;
}

.table thead th .btn, .table thead td .btn, .table tbody th .btn, .table tbody td .btn {
  vertical-align: middle;
  color: #fef5f2;
}

.table thead th .btn i, .table thead td .btn i, .table tbody th .btn i, .table tbody td .btn i {
  font-size: 1rem;
}

.form-group label {
  color: #9eacbe;
  font-size: 0.9rem;
}

.form-group .input-group .input-group-prepend .input-group-text, .form-group .input-group .input-group-append .input-group-text {
  border: none !important;
  background: #6b55fa;
}

.form-group .input-group .input-group-prepend .input-group-text i, .form-group .input-group .input-group-append .input-group-text i {
  font-size: 1.3rem;
  color: #fef5f2;
}

.form-group .input-group .form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
  cursor: pointer;
}

.form-group .input-group .custom-select {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
  cursor: pointer;
}

.btn-login, .btn-add {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background: #6b55fa !important;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem !important;
  color: #fef5f2 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  width: 86px;
  height: 35px;
}

.btn-login i, .btn-add i {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-cancel, .btn-delete {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background: #f17040 !important;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem !important;
  color: #fef5f2 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  width: 86px;
  height: 35px;
}

.btn-cancel i, .btn-delete i {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-accept {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background: #37ce55 !important;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem !important;
  color: #fef5f2 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  width: 86px;
  height: 35px;
}

.btn-accept i {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-edit {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  background: #538aec !important;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem !important;
  color: #fef5f2 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  width: 86px;
  height: 35px;
}

.btn-edit i {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dataTables_wrapper * #itemList_length label,
.dataTables_wrapper * #customerList_length label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: none;
  color: #9eacbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.dataTables_wrapper * #itemList_length label .custom-select,
.dataTables_wrapper * #customerList_length label .custom-select {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.dataTables_wrapper * #itemList_length label .custom-select option,
.dataTables_wrapper * #customerList_length label .custom-select option {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.dataTables_wrapper * #stockInList_filter label,
.dataTables_wrapper * #itemList_filter label,
.dataTables_wrapper * #customerList_filter label,
.dataTables_wrapper * #transaction_filter label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9eacbe;
  font-weight: 500;
}

.dataTables_wrapper * #stockInList_filter label input,
.dataTables_wrapper * #itemList_filter label input,
.dataTables_wrapper * #customerList_filter label input,
.dataTables_wrapper * #transaction_filter label input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.dataTables_wrapper * #stockInList_paginate ul,
.dataTables_wrapper * #itemList_paginate ul,
.dataTables_wrapper * #customerList_paginate ul,
.dataTables_wrapper * #transaction_paginate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.dataTables_wrapper * #stockInList_paginate ul li a,
.dataTables_wrapper * #itemList_paginate ul li a,
.dataTables_wrapper * #customerList_paginate ul li a,
.dataTables_wrapper * #transaction_paginate ul li a {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none !important;
  background: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9eacbe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.dataTables_wrapper * #stockInList_paginate ul .active a,
.dataTables_wrapper * #itemList_paginate ul .active a,
.dataTables_wrapper * #customerList_paginate ul .active a,
.dataTables_wrapper * #transaction_paginate ul .active a {
  color: #fef5f2;
}

.dataTables_wrapper * #itemList_info,
.dataTables_wrapper * #customerList_info,
.dataTables_wrapper * #transaction_info {
  color: #9eacbe;
}

.main-footer {
  background: #202332;
  border: none;
}

.content-wrapper .content .content-container .row-content .col-md-4 .card {
  background: #2a2e3f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrapper .content .content-container .row-content .col-md-4 .card .card-body .form-group label {
  color: #9eacbe;
  font-size: 0.9rem;
}

.content-wrapper .content .content-container .row-content .col-md-4 .card .card-body .form-group .input-group .input-group-prepend .input-group-text {
  border: none !important;
  background: #6b55fa;
}

.content-wrapper .content .content-container .row-content .col-md-4 .card .card-body .form-group .input-group .input-group-prepend .input-group-text i {
  font-size: 1.3rem;
  color: #fef5f2;
}

.content-wrapper .content .content-container .row-content .col-md-4 .card .card-body .form-group .input-group .form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.content-wrapper .content .content-container .row-content .col-md-4 .card .card-body .form-group .input-group select {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.content-wrapper .content .content-container .row-content .col-md-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wrapper .content .content-container .row-content .col-md-12 .card {
  background: #2a2e3f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrapper .content .content-container .row-content .col-md-12 .card .form-horizontal .card-body .form-group label {
  color: #9eacbe;
  font-size: 0.9rem;
}

.content-wrapper .content .content-container .row-content .col-md-12 .card .form-horizontal .card-body .form-group .col-sm-10 .input-group .input-group-prepend .input-group-text {
  border: none !important;
  background: #6b55fa;
}

.content-wrapper .content .content-container .row-content .col-md-12 .card .form-horizontal .card-body .form-group .col-sm-10 .input-group .input-group-prepend .input-group-text i {
  font-size: 1.3rem;
  color: #fef5f2;
}

.content-wrapper .content .content-container .row-content .col-md-12 .card .form-horizontal .card-body .form-group .col-sm-10 .input-group input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
  padding: 0rem 1.1rem;
}

.content-wrapper .content .content-container .row-content .col-md-12 .card .form-horizontal .card-body .form-group .col-sm-10 .input-group select {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.login-page {
  background-color: #202332 !important;
}

.login-page .card {
  background: #2a2e3f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
}

.login-page .card .card-header {
  color: #9eacbe;
}

.login-page .card .card-footer .sign-up {
  color: #9eacbe !important;
  font-size: 0.8rem;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box {
  background: #2a2e3f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box i {
  font-size: 3rem;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box span {
  font-size: 0.9rem;
  color: #9eacbe;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box h5 {
  font-weight: bold;
  color: #fef5f2;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box .bxs-data {
  color: #538aec;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box .bx-up-arrow-alt {
  color: #f17040;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box .bxs-dollar-circle {
  color: #37ce55;
}

.content-wrapper .content .container-fluid .row-content .box-wrapper .small-box .bxs-user-account {
  color: #6b55fa;
}

.content-wrapper .content .container-fluid .row-content .connectedSortable .card {
  background: #2a2e3f !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-wrapper .content .container-fluid .row-content .connectedSortable .card .card-header {
  border: none;
  color: #9eacbe;
}

.content-wrapper .content .container-fluid .row-content .connectedSortable .card .card-header h3 {
  font-weight: 600;
}

.content-wrapper .content .container-fluid .row-content .connectedSortable .card .card-body .form-group .col-sm-10 .input-group .form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: none !important;
  font-size: 0.9rem !important;
}

.content-wrapper .content .container-fluid .row-content .connectedSortable .card .card-footer .sign-up {
  color: #9eacbe !important;
}

.content-wrapper .content .container-fluid .row-content .col-md-12 .row-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.content-wrapper .content .container-fluid .row-content .col-sm-4 .card .invoice-serial, .content-wrapper .content .container-fluid .row-content .col-sm-4 .card .total {
  font-weight: bold;
  color: #9eacbe;
}

.content-wrapper .content .container-fluid .row-content .col-sm-4 .card .total {
  font-size: 3rem;
}

.content-wrapper .content .container-fluid .row-content .col-sm-4 .row-action .btn-add, .content-wrapper .content .container-fluid .row-content .col-sm-4 .row-action .btn-accept, .content-wrapper .content .container-fluid .row-content .col-sm-4 .row-action .btn-cancel {
  height: 2.5rem;
}
/*# sourceMappingURL=main.css.map */