// !import poppins and open sans from google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// !primary color
$Primary-1: #191e25;
$Primary-2: #2a333d;
$Primary-3: #3a4656;
$Primary-4: #4b5a6e;
$Primary-5: #69788e;
$Primary-6: #96a2b2;
$Primary-7: #d0d6df;
$Primary-8: #f4f6f9;
$Primary-9: #ffffff;

// !purple elements
$Purple-1: #160f5a;
$Purple-2: #1e157c;
$Purple-3: #261c9f;
$Purple-4: #2f21c4;
$Purple-5: #3d2ddf;

// !tosca elements
$Tosca-1: #00c2ae;
$Tosca-2: #ee8a18;
$Tosca-3: #a371ff;
$Tosca-4: #ff7174;
$Tosca-5: #71adff;


// !danger elements
$Danger-1: #450910;
$Danger-2: #680e1a;
$Danger-3: #8b1322;
$Danger-4: #d11f35;
$Danger-5: #dd384e;

// !success elements
$Success-1: #113725;
$Success-2: #1f5c3f;
$Success-3: #2d8059;
$Success-4: #3ba471;
$Success-5: #42b87f;

// !warning elements;
$Warning-1: #713304;
$Warning-2: #974405;
$Warning-3: #bc5404;
$Warning-4: #e26505;
$Warning-5: #ec7c27;


// !font color
$Font-1: #191e25;
$Font-2: #d0d6df;
$Font-3: #f3f5f7;

//centerFlex
@mixin CenterFlex {
	display			: flex;
	justify-content	: center;
	align-items		: center;
}

@mixin Glassy($Blur, $Background, $Transparent) {
	// backdrop-filter: blur($Blur) !important;
	background: rgba($Background, $Transparent) !important;
}

//style for cards
@mixin Cards {
    background      : $Primary-9 !important;
    box-shadow      : none !important;
    flex-direction  : column;
    display         : flex;
}

//style for input at all form
@mixin FormControl($Background){
    box-shadow      : none !important;
    outline         : none !important;
    // border          : none !important;
    font-size       : 0.9rem !important;
	background-color: $Background !important;
}

//style for button
@mixin Buttons($background){
	@include CenterFlex;
    border-radius   : 0.3rem !important;
    color           : $Font-3 !important;
    font-size       : 0.8rem !important;
    box-shadow      : none !important;
    font-weight     : 500 !important;
    outline         : none !important;
    border          : none !important;
    background      : $background;
    padding         : 0.5rem 0.6rem;
	gap				: 0.2rem;
    i {
        font-size   : 1.4rem;
		color       : $Font-3 !important;
		font-weight	: 400;
        align-items : center;
    }
}

//style for bubbles dropdown
@mixin Bubbles($Background, $Right, $Top) {
    width           : 1.5rem;
    height          : 1.5rem;
    transform       : rotate(45deg);
    border-radius   : 0.2rem;
    position        : absolute;
    background      : $Background;
    right           : $Right;
    top             : $Top;
}