@import '_main_lib';
// !public component
* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
	&.dark {
		.switch-button {
			background: $Primary-8 !important;
			&:before {
				left: 4px;
				background: $Primary-2;
			}
			&:after {
				top: 4px;
				right: 4px;
				width: 32px;
				height: 20px;
				border-radius: 16px;
				background: $Primary-8;
			}
		}
	} 
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    margin: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

// Toggle mode
.dark {
	.main-header {
		background: $Primary-1;
		.nav-item{
			.nav-link {
				color: $Font-3;
			}
			&:hover {
				.nav-link {
					color: $Font-3;
				}
			}
			.active {
				.nav-link {
					color: $Font-1;
				}
			}
		}
		.dropdown-menu {
			.bubbles {
				@include Bubbles( $Primary-4, 1.2rem, -0.5rem);
			}
			.cover {
				background: $Primary-4;
				.user-avatar {
					border: 4px solid $Primary-4;
				}
			}
		}
	}
	.main-sidebar {
		background: $Primary-2 !important;
		.sidebar * {
			& p {
				color: $Font-2;
			}
			& i {
				color: $Font-2;
			}
			&.nav-link {
				&:hover {
					background: $Tosca-5;
					p, i {
						color: $Font-3 !important;
					}
				}
			}
			&.nav-treeview {
				background: $Primary-1;
			}
			&.active {
				background: $Tosca-5;
				p, .bx {
					color: $Font-3;
				}
			}
		}
	}
	.content-header {
		color: $Font-2;
	}
	.content-wrapper {
		background: $Primary-1;
	}
	.main-footer {
		background: $Primary-1;
	}
	.card{
		background: $Primary-2 !important;
		.card-header {
			background: $Primary-2;
		}
		.card-body {
			background: $Primary-2;
		}
		.card-footer {
			background: $Primary-2;
		}
	}
}

.switch-button {
	margin: 0;
	padding: 0;
	width: 48px;
	height: 28px;
	border: none;
	outline: none;
	overflow: hidden;
	position: relative;
	border-radius: 14px;
	display: inline-block;
	background: $Primary-2;
}

.switch-button,
.switch-button:before,
.switch-button:after {
	transition: all 0.25s ease-in-out;
}

.switch-button:before {
	top: 4px;
	left: 24px;
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	border-radius: 12px;
	background: $Primary-8;
}

.switch-button:after {
	content: "";
	top: 14px;
	right: 2px;
	width: 1px;
	height: 1px;
	display: block;
	position: absolute;
	border-radius: 0.5px;
}

.switch-button:after {
	background: $Primary-1;
}

.dark .switch-button:focus,
.dark .switch-button:active,
.dark .switch-button:active:after { 
	background: $Primary-9;
}

.no-select {
	user-select: none;
}

.disable-easing-temporarily,
.disable-easing-temporarily:after,
.disable-easing-temporarily:before {
	transition-property: none !important;
	transform: none !important;
	animation: none !important;
}


// Main component here
input {
	@include FormControl($Primary-8);
	height: 2.5rem !important;
	&:disabled, &:read-only{
		background: darken($Primary-8, $amount: 5) !important; 
	}
}

#notes {
	background: $Primary-8;
}

.row-action {
	@include CenterFlex;
	gap: 0.5rem;
	padding: 0rem 1rem;
}

// card style
.card {
	@include Cards;
	border-radius: 0.5rem;
	.card-header {
		border-radius: 0.5rem;
		border: none;
		background: $Primary-9;
	}
	.card-footer {
		border-radius: 0.5rem;
		background: $Primary-9;
		width: 100%;
	}
}

// pagination
.pagination {
	.page-item {
		.page-link{
			color: $Font-1;
		}
		&.active {
			.page-link{
				color: $Tosca-5;
			}
		}
	}
}

// button style
.button-actions {
	@include Buttons($Tosca-3);
}
.button-success{
	@include Buttons($Tosca-1);
}
.button-warning {
	@include Buttons($Tosca-2);
}
.button-danger {
	@include Buttons($Danger-5)
}

// column aksi with button component
.act-btn{
	@include CenterFlex;
	gap: 0.5rem;
	i{
		font-size: 1rem !important;
	}
}
.table-act-1{
	@include Buttons($Tosca-5);
}
.table-act-2{
	@include Buttons($Tosca-4);
}
.table-act-3{
	@include Buttons($Tosca-1);
}

// header
.main-header {
    background: $Primary-8;
    border: none;
	.nav-item{
		.nav-link {
			color: $Font-1;
		}
		&:hover {
			.nav-link {
				color: $Font-1;
			}
		}
		.active {
			.nav-link {
				color: $Font-1;
			}
		}
	}
    .dropdown-menu {
        transition: 0.25s;
        width: 18rem;
        margin-top: 1.3rem;
        border: none;
        padding: 0;
        .bubbles {
            @include Bubbles( $Primary-4, 1.2rem, -0.5rem);
        }
        .cover {
            border-radius: 0.18rem 0.18rem 0rem 0rem;
            background: $Primary-4;
            height: 6rem;
            width: 100%;
            .user-avatar {
                border: 4px solid $Primary-4;
                border-radius: 100%;
                position: absolute;
                height: 6rem;
                width: 6rem;
                margin: auto;
                left: 34%;
                top: 15%;
            }
        }
        .user {
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 4rem;
            padding: 0.3rem 0.5rem;
            gap: 0.1rem;
            display: flex;
            .user-name {
                font-size: 1.2rem;
                font-weight: bold;
            }
            .role-profile {
                padding: 0.1rem 0.3rem;
                font-size: 0.7rem;
				color: $Font-3;
                font-weight: 600;
                border-radius: 0.3rem;
				background: $Tosca-3;
            }
        }
        .action {
            padding: 0.5rem;
            .btn-logout {
                display: flex;
                align-items: center;
            }
        }
    }
}

// sidebar
.main-sidebar {
	background: $Primary-9;
    .brand-link {
        border: 0;
        .brand-text {
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
    .sidebar * {
        & p {
			color: $Font-1;
            font-weight: 600;
			i { 
				color: $Font-1;
			}
        }
        &.nav-link {
            padding: 0.6rem 1rem;
            align-items: center;
            border-radius: 0.3rem;
            font-size: 0.8rem;
            transition: 0.3s;
            display: flex;
            gap: 0.5rem;
            cursor: pointer;
            margin: 0rem 0rem;
            .bx {
                font-size: 1.5rem;
            }
			&:hover {
				background: $Tosca-5;
				p, i {
					color: $Font-3 !important;
				}
			}
        }
        &.nav-treeview {
            background: $Primary-8;
            margin: 0.4rem 0rem;
            border-radius: 0.3rem;
        }
		&.active {
			background: $Tosca-5;
			p, .bx {
				color: $Font-3;
			}
		}
    }
}

// footer
.main-footer {
	background: $Primary-8;
	border: none;
}

// table
.table {
    background: transparent;
	color: $Font-1;
    thead, tbody {
		th,td {
			vertical-align: middle;
			text-align: center;
			border: none;
		}
		th {
			font-weight: 600;
		}
        td {
            font-size: 0.9rem;
        }
    }
}
.table-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	.dataTables_paginate {
        ul {
            display: flex !important;
            justify-content: end;
            align-items: center;
            width: auto;
            li {
                a {
                    box-shadow: none !important;
                    outline: none !important;
                    justify-content: center;
                    border: none !important;
                    background: none !important;
                    align-items: center;
                    display: flex;
                    height: 100%;
                }
            }
            .active {
                a {
					font-weight: 600;
                }
            }
        }
    }
	.pagination {
		margin: 0;
	}
}

// modal component
.modal {
    backdrop-filter: blur(0.2rem);
	background: rgba($Primary-1, 0.2);
    .modal-dialog {
        .modal-content {
            .modal-header {
                justify-content: center;
                align-items: center;
                display: flex;
                .btn {
                    font-weight: 600;
                    font-size: 1.5rem;
                }
            }
            .modal-body {
                .row-content {
                    .brand-logo {
                        gap: 0.5rem;
                        .brand-text {
                            font-size: 1.5rem;
                            font-weight: bold;
                        }
                    }
                    .detail-cust{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        .sub-head {
                            font-size: 0.9rem;
                            font-weight: 700;
                        }
                        .sub-detail {
                            font-size: 0.85rem;
                        }
                    }
                    .detail-total{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 1rem;
                        .sub-head {
                            font-size: 0.9rem;
                            font-weight: 700;
                        }
                        .sub-detail {
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

// form group
.form-group {
	.col-form-label {
		font-weight: 600 !important;
	}
}
.input-group {
	.input-group-prepend {
		.input-group-text {
			background: $Tosca-5;
			border-color: $Tosca-5;
			i{
				color: $Font-3;
				font-size: 1.1rem;
			}
		}
	}
}

.box-profile {
	@include CenterFlex;
	flex-direction: column;;
	.profile-username {
		font-weight: bold;
		margin-top: 1rem;
	}
	.nim {
		font-weight: 600;
		color: $Primary-6;
	}
	.social-wrapper {
		margin: 2.5rem 0rem 0rem;
		@include CenterFlex;
		gap: 2rem;
		.social {
			@include CenterFlex;
			flex-direction: column;
			i {
				font-size: 1.7rem;
				padding: 0.8rem;
				border-radius: 100%;
			}
		}
	}
	.facebook {
		@include Glassy(500px, $Tosca-3, 0.40);
		color: $Purple-5;
	}
	.instagram {
		@include Glassy(500px, $Tosca-3, 0.40);
		color: $Purple-5;
	}
	.twitter {
		@include Glassy(500px, $Tosca-3, 0.40);
		color: $Purple-5;
	}
}

// !spesific components
.input-group > .select2-container--default{
	width: auto;
	flex: 1 1 auto;
}
.select2-container--default .select2-selection--single{
    @include FormControl($Primary-8);
}
.select2-dropdown{
    @include FormControl($Primary-8);
	padding: 0.4rem !important;
	.select2-results__option {
		border-radius: 0.2rem;
		&active, &:hover, &.select2-results__option--highlighted {
			background: $Tosca-5 !important;
		}
	}
}

.box-wrapper {
	@include CenterFlex;
	flex-direction: column;
	justify-content: space-between !important;
	.logo {
		@include CenterFlex;
		padding: 1.1rem;
		border-radius: 100%;
		i {
			font-size: 2rem;
		}
	}
	.title {
		font-weight: 600 !important;
	}
	h5 {
		font-size: 1.4rem;
		font-weight: bold;
		margin: 0;
	}
}
.total-item{
	.logo {
		@include Glassy(500px, $Purple-5, 0.40);
		i {
			color: $Purple-5;
		}
	}
}
.total-trans{
	.logo {
		@include Glassy(500px, $Warning-5, 0.40);
		i {
			color: $Warning-5;
		}
	}
}
.total-cust{
	.logo {
		@include Glassy(500px, $Danger-5, 0.40);
		i {
			color: $Danger-5;
		}
	}
}
.total-inc{
	.logo {
		@include Glassy(500px, $Success-5, 0.40);
		i {
			color: $Success-5;
		}
	}
}

// recent transaction
.recent-trans {
	// @include CenterFlex;
	.cust-logo {
		@include Glassy(500px, $Danger-5, 0.40);
		@include CenterFlex;
		border-radius: 100%;
		font-size: 1.5rem;
		color: $Danger-5;
		height: 2.6rem;
		width: 2.6rem;
	}
	.cust-wrapper {
		display: flex;
		justify-content:center;
		.invoice {
			text-align: left !important;
			font-size: 1rem;
			font-weight: 600;
			border: none;
		}
		.cust-name {
			font-weight: 500;
			color: $Primary-5;
			font-size: 0.8rem;

		}
	}
	.grand-total-trans, .date-transaction {
		@include CenterFlex;
		justify-content: start !important;
		color: $Primary-5;
		font-size: 0.9rem;
		font-weight: 600;
	}
}


// customize length and table filter after move to header
.length-filter {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
	.custom-select {
		width: 15%;
		label {
			display: none;
		}
	}
	.dataTables_filter{
		height: 2.4rem !important;
	}
}

.item-table-head {
		display: flex;
		justify-content: space-between;
	.button-slot {
		display: flex;
		justify-content: end;
	}
	.btn {
		width: 6.5rem;
	}

}

.dt-buttons {
	display: flex;
	justify-content: end;
	gap: 0.5rem;
	.btn {
		position: relative !important;
		span {
			@include CenterFlex;
			width: 3.5rem;
			gap: 0.2rem;
			color: $Font-3;
		}
	}
}

#dataAct,
#myData{
	display: none;
	.dataTables_filter {
		display: none;
	}
}

/* 
	because some modals on the transaction page have conflicts in the paginate section, so the style below is needed
*/
#custModal {
	#itemModalTable_paginate,
	#detailTrans_paginate,
	#itemModalTable_filter{
		display: none;
	}
}
#itemModal {
	#custModalTable_paginate,
	#detailTrans_paginate,
	#custModalTable_filter{
		display: none;
	}
}

#customerList_wrapper,
#itemList_wrapper,
#stockInHistoryList_wrapper,
#custModalTable_wrapper,
#itemModalTable_wrapper,
#detailTrans_wrapper,
#detailTransHistory_wrapper,
#itemReport_wrapper,
#transReport_wrapper,
#transHistory_wrapper,
#transactionPage_wrapper,
#stockInList_wrapper,
#userList_wrapper{
	.dt-buttons {
		display: none;
	}
	.dataTables_length {
		display: none;
	}
	.dataTables_filter {
		display: none;
	}
}