@import 'main_lib';

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    margin: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}

.main-header {
    background: $backgroundColorOne;
    border: none;
    .dropdown-menu {
        background: $backgroundColorTwo;
        transition: 0.25s;
        width: 18rem;
        margin-top: 1.3rem;
        border: none;
        padding: 0;
        .bubbles {
            @include Bubbles( $backgroundColorThree, 1.2rem, -0.5rem);
        }
        .cover {
            border-radius: 0.18rem 0.18rem 0rem 0rem;
            background: $backgroundColorThree;
            height: 6rem;
            width: 100%;
            .user-avatar {
                border: 4px solid $backgroundColorTwo;
                border-radius: 100%;
                position: absolute;
                height: 6rem;
                width: 6rem;
                margin: auto;
                left: 34%;
                top: 15%;
            }
        }
        .user {
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
            margin-top: 4rem;
            padding: 0.3rem 0.5rem;
            gap: 0.1rem;
            display: flex;
            .user-name {
                font-size: 1.2rem;
                color: $fontSecond;
                font-weight: bold;
            }
            .role-profile {
                padding: 0.2rem;
                font-size: 0.7rem;
                font-weight: 500;
                border-radius: 0.3rem;
                color: $fontPrimary;
                background: $elementColorOne;
            }
        }
        .action {
            padding: 0.5rem;
            .btn-logout {
                display: flex;
                align-items: center;
            }
        }
    }
}

.main-sidebar {
    background: $backgroundColorTwo;
    .brand-link {
        border: 0;
        color: $fontSecond;
        .brand-text {
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
    .sidebar * {
        &.bx, & p {
            color: $fontSecond;
        }
        & p {
            font-weight: 600;
        }
        &.nav-link {
            padding: 0.6rem 1rem;
            align-items: center;
            border-radius: 0.3rem;
            font-size: 0.8rem;
            transition: 0.3s;
            display: flex;
            gap: 0.5rem;
            cursor: pointer;
            margin: 0rem 0rem;
            .bx {
                font-size: 1.5rem;
            }
            &:hover{
                background: $elementColorFour;
                .bx, p {
                    color: $fontPrimary;
                }
            }
            &.active {
                &.nav-link {
                    background: $elementColorFour;
                    .bx, p {
                        color: $fontPrimary;
                    }
                }
            }
        }
        &.nav-treeview {
            background: $backgroundColorOne;
            margin: 0.4rem 0rem;
            border-radius: 0.3rem;
        }
    }
}

.content-wrapper {
    background: $backgroundColorOne;
    .content-header {
        .container-fluid {
            .row {
                .col-sm-6{
                    h1{
                        color: $elementColorFive;
                    }
                }
                .card{
                    label, .invoice-serial, .total {
                        font-weight: bold;
                        color: $fontSecond;
                    }
                    .total {
                        font-size: 3rem;
                    }
                }
                
            }
        }
    }
}

.card {
    @include Cards;
}

.table {
    background: transparent;
    thead, tbody {
        td {
            font-size: 0.9rem;
        }
        th,td {
            vertical-align: middle;
            color: $fontSecond;
            text-align: center;
            border: none;
            .btn {
                vertical-align: middle;
                color: $fontPrimary;
                i {
                    font-size: 1rem;
                }
            }
        }
    }
}

.form-group {
    label {
        color: $fontSecond;
        font-size: 0.9rem;
    }
    .input-group > .select2-container {
        width: auto !important;
        flex: 1 1 auto !important;
    }
    
    .input-group > .select2-container .select2-selection--single {
        // height: 100% !important;
        line-height: inherit !important;
    }
    .input-group {
        .input-group-prepend, .input-group-append {
            .input-group-text {
                border: none !important;
                background: $elementColorOne;
                i {
                    font-size: 1.3rem;
                    color: $fontPrimary;
                }
            }
        }
        .form-control {
            @include Inputs;
            cursor: pointer;
        }
        .custom-select {
            @include Inputs;
            cursor: pointer;
        }
    }
}

.btn-login, .btn-add                     { @include Buttons($elementColorOne !important); }
.btn-cancel, .btn-delete, .btn-logout    { @include Buttons($elementColorTwo !important); }
.btn-accept                              { @include Buttons($elementColorThree !important); }
.btn-edit                                { @include Buttons($elementColorFour !important); }

#action-buttons {
    display: flex;
    justify-content: start;
    .dt-buttons {
        display: flex;
        width: 100% !important;
        justify-content: space-around !important;
        margin: 0;
        .btn {
            span {
                display: flex;
                gap: 0.5rem;
            }
        }
    }
}

.row-action {
    display: flex;
    gap: 0.5rem;
    .btn {
        width: 5.431rem;
    }
}

.modal {
    backdrop-filter: blur(0.5rem);
    .modal-dialog {
        .modal-content {
            .modal-header {
                justify-content: center;
                align-items: center;
                color: $fontSecond;
                display: flex;
                .btn {
                    color: $fontSecond;
                    font-weight: 600;
                    font-size: 1.5rem;
                    &:hover {
                        color: $elementColorTwo;
                    }
                }
            }
            .modal-body {
                color: $fontSecond;
                .row-content {
                    .brand-logo {
                        gap: 0.5rem;
                        .brand-text {
                            font-size: 1.5rem;
                            font-weight: bold;
                        }
                    }
                    .detail-cust{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        .sub-head {
                            font-size: 0.9rem;
                            font-weight: 700;
                        }
                        .sub-detail {
                            font-size: 0.85rem;
                            color: $fontPrimary;
                        }
                    }
                    .detail-total{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 1rem;
                        .sub-head {
                            font-size: 0.9rem;
                            font-weight: 700;
                        }
                        .sub-detail {
                            font-size: 1.3rem;
                            font-weight: bold;
                            color: $fontPrimary;
                        }
                    }
                }
            }
            .modal-footer {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.dataTables_wrapper * {
    #itemList_length,
    #userList_length,
    #transStatus_length,
    #transHistory_length,
    #stockInHistoryList_length,
    #customerList_length {
        label {
            align-items: center;
            margin-bottom: none;
            color: $fontSecond;
            display: flex;
            gap: 0.5rem;
            .custom-select {
                @include Inputs;
                option{
                    @include Inputs;
                }
            }
        }
    }
    
    #userList_filter,
    #stockInList_filter,
    #stockInHistoryList_filter,
    #itemList_filter,
    #itemModalTable_filter,
    #customerList_filter,
    #custModalTable_filter,
    #transHistory_filter,
    #transStatus_filter,
    #transaction_filter {
        label {
            display: flex;
            justify-content: end;
            align-items: center;
            color: $fontSecond;
            font-weight: 500;
            input {
                @include Inputs;
            }
        }
    }
    
    #userList_paginate,
    #stockInList_paginate,
    #stockInHistoryList_paginate,
    #itemList_paginate,
    #itemModalTable_paginate,
    #customerList_paginate,
    #custModalTable_paginate,
    #transHistory_paginate,
    #transStatus_paginate,
    #transaction_paginate {
        ul {
            display: flex;
            justify-content: end;
            align-items: center;
            width: auto;
            li {
                a {
                    box-shadow: none !important;
                    outline: none !important;
                    justify-content: center;
                    border: none !important;
                    background: none;
                    align-items: center;
                    color: $fontSecond;
                    display: flex;
                    height: 100%;
                }
            }
            .active {
                a {
                    color: $fontPrimary;
                }
            }
        }
    }
    
    #userList_info,
    #itemList_info,
    #customerList_info,
    #transaction_info {
        color: $fontSecond;
    }
}


.main-footer {
    background: $backgroundColorOne;
    border: none;
}


.login-page {
    background-color: $backgroundColorOne !important;
    .card {
        @include Cards;
        border-radius: 0.4rem;
        .card-header {
            color: $fontSecond;
        }
        .card-body {
            .input-box {
                position: relative;
                width: 100%;
                height: 2.5rem;
                input {
                    background: transparent;
                    @include AnimatedForm;
                    @include Inputs;
                    position: absolute;
                    z-index: 1;
                }
                .label {
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: $fontSecond;
                    font-size: 1rem;
                    font-weight: bolder;
                    display: block;
                    transition: 0.25s;
                    pointer-events: none;
                }
                .floating-component {
                    width: 100%;
                    height: 0.12rem;
                    background: $elementColorFive;
                    border-radius: 0.2rem;
                    pointer-events: none;
                    position: absolute;
                    transition: 0.25s;
                    bottom: 0;
                }
            }
        }
        .card-footer {
            color: $fontSecond !important;
        }
    }
}

.content-wrapper {
    .content {
        .container-fluid {
            .row-content {
                
                .box-wrapper {
                    .small-box {
                        @include Cards;
                        justify-content: center;
                        padding: 1rem;
                        gap: 0.5rem;
                        i {
                            font-size: 3rem;
                        }
                        span {
                            font-size: 0.9rem;
                            color: $fontSecond;
                        }
                        
                        h5 {
                            font-weight: bold;
                            color: $fontPrimary;
                        }
                    }
                }
                #myData, #dataAct {
                    display: none;
                }
                #itemReport_filter {
                    display: none;
                }
                .connectedSortable {
                    .card {
                        @include Cards;
                        .card-header {
                            border: none;
                            color: $fontSecond;
                            h3 {
                                font-weight: bolder;
                            }
                        }
                        .card-body {
                            .form-group {
                                .col-sm-10 {
                                    .input-group {
                                        .form-control {
                                            @include Inputs;
                                        }
                                    }
                                }
                            }
                        }
                        .card-footer {
                            .sign-up {
                                color: $fontSecond !important;
                            }
                        }
                    }
                }
            }
        }
    }
}